background-image: -moz-linear-gradient(90deg, rgb(255, 248, 231), rgb(198, 192, 175));

background-image: -webkit-linear-gradient(90deg, rgb(255, 248, 231), rgb(198, 192, 175));

background-image: linear-gradient(90deg, rgb(255, 248, 231), rgb(198, 192, 175));
